<div class="display-recipe">
    <div class="individual-recipe-title">
        <h2><%= individualRecipe.title %></h2>
    </div> 
By: <%= individualRecipe.author %>
<br>
<!-- Move the author name to inline with title -->
Difficulty: <%= individualRecipe.difficulty %>
<!-- Turn the following into some pretty table format? -->
<ul>Equipment needed: 
<% individualRecipe.equipment.forEach((item) => { %>
<li><%= item %></li>
<% }) %>
</ul>
<br>
<ul>Ingredients needed:
<% individualRecipe.requiredIngredients.forEach((item) => { %>
    <li><%= item %></li>
    <% }) %>
<br>
</ul>
<ul>Optional ingredients:
    <% individualRecipe.optionalIngredients.forEach((item) => { %>
        <li><%= item %></li>
        <% }) %>
    <br>
    </ul>
<ul>Spices used:
<% individualRecipe.spices.forEach((item) => { %>
    <li><%= item %></li>
    <% }) %>
<br>
</ul>
<ol>
Directions:
<% individualRecipe.instructions.forEach((item) => { %>
    <li><%= item %></li>
    <% }) %>
</ol>

<% if (isLoggedIn && isAuthor) { %>
    <!-- Content visible to logged-in users who are the authors of the recipe -->
    <button><a href="/recipes/<%= individualRecipe.id %>/editrecipe">Edit</a></button>
<% } else if (isLoggedIn) { %>
    <!-- Content visible to logged-in users who are not the authors of the recipe -->
    <p>You can only edit your own recipes.</p>
<% } else { %>
    <!-- Content visible to non-logged-in users -->
    <p>Please log in to edit or create recipes!</p>
<% } %>
